/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}


/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.navbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.navbar-links ul {
    list-style: none;
    display: flex;
}

.navbar-links ul li {
    margin-left: 20px;
}

.navbar-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial;
}


/* Navbar toggle for mobile */
.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .navbar-links {
        display: none;
        width: 100%;
        background-color: #333;
    }

    .navbar-links.active {
        display: flex;
        flex-direction: column;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links ul li {
        text-align: center;
        margin: 10px 0;
    }

    .navbar-toggle {
        display: flex;
    }
}


/* Home Section Styles */
.home-section {
    position: relative;
    height: 100vh;
    background: url('../images/background.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; /* Adjust based on your background image */
}

.headshot {
    border-radius: 50%;
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    object-fit: cover;
    margin-bottom: 20px;
}

.greeting {
    font-size: 3rem;
    margin-bottom: 5px;
}

/* Add bouncing downward arrow animation */
.bouncing-arrow {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 20px solid white;
    display: inline-block;
    animation: bounce 2s infinite;
    margin-top: 10em; /* Adjust spacing from the text */
    cursor: pointer;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(15px);
    }
    60% {
        transform: translateY(7px);
    }
}


/* Typewrite Style */
.typewrite { 
    color:#fff; 
    font-size: 0.60em;
    text-decoration: none;
}
