/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar is on top of other elements */
    transition: background-color 0.3s ease-in-out;
}

.navbar.scrolled {
    background-color: #0F2928 !important;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.navbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.navbar-links ul {
    list-style: none;
    display: flex;
}

.navbar-links ul li {
    margin-left: 20px;
}

.navbar-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial;
}

/* Navbar toggle for mobile */
.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .navbar {
        position: fixed;
    }

    .navbar-links {
        display: none;
        width: 100%;
        background-color: #333;
    }

    .navbar-links.active {
        display: flex;
        flex-direction: column;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links ul li {
        text-align: center;
        margin: 10px 0;
    }

    .navbar-toggle {
        display: flex;
    }
}